Release*/
Debug*/
build/
html/
Test-Suite/
Release+Asserts/
Debug+Asserts/
autoconf/
tests/result/
doxygen/
.*
!.gitignore
*~
*.o
*.swp
*.so.*
*.a
llvm-10.0.0.obj/bin
*.out
*.ll
*.bc
*.opt
*.log
*.status
makefailed
